<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>
            <!-- taking from the request user object -->
            Hello to request user {{ request.user.first_name }} {{ request.user.last_name }}

            Books recommended for you: <br>

            <ul>
                {% for book in books %}
                    <li>{{ book.name }} - {{ book.author.name }}</li>
                {% endfor %}
            </ul>

        </h1>
    </body>
</html>