{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
    </head>
    <body>
        <p>
            Hello how are you this is a P tag
        </p>
        You Are logged in
        <a href="{% url 'logout' %}"> Logout </a>
    </body>
</html>